<div class="container-fluid">
    <div class="container">
        <div>
            <h4 class="text-center mt-5">Hello,What Do you Want To learn</h4>
            <div class="d-flex justify-content-center my-3">
                <form class="d-flex  my-2 my-lg-0 input-group">
                    <input class="form-control "  aria-describedby="button-addon1" type="text" placeholder="Search">
                    <button class="btn btn-success add-on" type="submit" id="button-addon1">Search</button>
                </form>
            </div>
        </div>
    </div>
        <app-subcribed-cources></app-subcribed-cources>
        <app-cource></app-cource>

</div>